<section id="contact" class="pfblock">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header">
          <h2 class="pfblock-title">Drop me a line</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            Yes list these stuffies!
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_tag contact_path, id: 'contact-form', role: 'form' do  %>
            <div class="form-group wow fadeInUp">
              <%= label_tag 'name', 'Name', class: 'sr-only' %>
              <%= text_field_tag 'contact_info[name]', nil, class: 'form-control', placeholder: 'Name' %>
            </div>
            <div class="form-group wow fadeInUp">
              <%= label_tag 'email', 'Email', class: 'sr-only' %>
              <%= text_field_tag 'contact_info[email]', nil, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="form-group wow fadeInUp">
              <%= text_area_tag 'contact_info[message]', nil, class: 'form-control', placeholder: 'Message', rows: '7' %>
            </div>
            <%= submit_tag('Send Message', class: 'btn btn-lg btn-block wow fadeInUp', data: { 'wow-delay' => '.3s' }) %>
        <% end %>
      </div>
    </div>
  </div>
</section>