<section id="portfolio" class="pfblock">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">I contributed to</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            Not comprehensive list of projects I have worked on
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <%= link_to 'https://advertstar.net', target: '_blank' do %>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="grid wow zoomIn">
              <figure class="effect-bubba">
                <%= image_tag('item-2.jpg') %>
                <figcaption>
                  <h2>Advertstar</h2>
                  <p>Lily likes to play with crayons and pencils</p>
                </figcaption>
              </figure>
            </div>
          </div>
      <% end %>
      <%= link_to 'https://www.moneyzen.eu', target: '_blank' do %>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="grid wow zoomIn">
              <figure class="effect-bubba">
                <%= image_tag('item-4.jpg') %>
                <figcaption>
                  <h2>MoneyZen</h2>
                  <p>Lily likes to play with crayons and pencils</p>
                </figcaption>
              </figure>
            </div>
          </div>
      <% end %>
      <%= link_to 'https://www.import2.com', target: '_blank' do %>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="grid wow zoomIn">
              <figure class="effect-bubba">
                <%= image_tag('item-5.jpg') %>
                <figcaption>
                  <h2>Import2</h2>
                  <p>Lily likes to play with crayons and pencils</p>
                </figcaption>
              </figure>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>